@font-face {
    font-family: "Jomhuria";
    src: url("../../assets/fonts/Jomhuria-Regular.ttf") format("truetype"); 
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

#root {
    height: 100%;
}

.app {
    height: 100%;
    background-color: #01d287;
}
